<h3><%= stored_team.name if !my_task?() %></h3>
<h3><%= "#{stored_date.year}年#{stored_date.month}月" %></h3>
<%= form_with(model: @weekly_goal, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :team_id, value:stored_team.id %>
    <%= f.hidden_field :month, value:stored_date %>
    <div class="row">
        <div class="col-md-6">
            <%= f.label :whose %>
            <%= f.select :whose, [[stored_team.name,0], [current_user.name,current_user.id]], {class: 'form-control'} %>
        </div>
        <div class="col-md-6">
            <%= f.label :week %>
            <%= f.select :week, ["１週目", "２週目", "３週目", "４週目", "５週目"], class: 'form-control' %>
        </div>
    </div>
    
    <%= f.label :plan %>
    <%= f.text_field :plan, class: 'form-control' %>

    <%= f.label :action %>
    <%= f.text_field :action, class: 'form-control' %>

    <%= f.label :output %>
    <%= f.text_area :output, class: 'form-control' %>

    <%= f.label :review %>
    <%= f.text_area :review, class: 'form-control' %>

    <%= f.submit "Post", class: "btn btn-primary" %>
    
<% end %>

<%= link_to "週次目標を削除", @weekly_goal, method: :delete, data: { confirm: "削除しますか?" } %>