<h3><%= stored_team.name if !my_task?() %></h3>
<h3><%= "#{stored_date.year}年#{stored_date.month}月" %></h3>
<%= form_with model: @goals_form, url: weekly_goals_path,class:"form-horizontal", local: true do |form| %>
    <div class="row">
        <% if !my_task?() %>
            <div class="col-md-6">
                <%= form.label :whose,class:"col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= form.select :whose, [[stored_team.name,0], [current_user.name,current_user.id]], {class: 'form-control'} %>
                </div>
            </div>
        <% else %>
            <%= form.hidden_field :whose, value:0 %>
        <% end %>
        <div class="col-md-6">
            <%= form.label :week,class:"col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= form.select :week, ["１週目", "２週目", "３週目", "４週目", "５週目"], class: 'form-control' %>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
            <% @goals_form.collection.each do |goal|%>
                <tr>
                    <%= fields_for 'goals[]', goal do |f| %>
                        <td>
                            <%= f.label :check, class: "checkbox inline" do %>
                                <span>保存</span>
                                <%= f.check_box :check ,{ checked: (goal == @goals_form.collection[0] ? true : false) } %>
                            <% end %>
                        </td>
                        <td>
                            <%= f.hidden_field :month, value:stored_date %>
                            <%= f.hidden_field :team_id, value:stored_team.id %>
                        </td>

                        <td>
                            <%= f.label :plan, class:"col-sm-2 control-label" %>
                            <div class="col-sm-10">
                                <%= f.text_field :plan, class: 'form-control' %>
                            </div>
                        </td>
                        <td><span class="glyphicon glyphicon-arrow-right" ></span> </td>
                        <td>
                            <%= f.label :action, class:"col-sm-2 control-label" %>
                            <div class="col-sm-10">
                                <%= f.text_field :action, class: 'form-control' %>
                            </div>
                        </td>

                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= form.submit "Post", class: "btn btn-primary" %>
<% end %>