<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class=<%= 'active' if current_page?(root_path) %> >   
        <%= link_to (my_task?()? 'Home' : current_team.name), root_path, class:"nav-link "%>
    </li>
    <li role="presentation" class=<%= 'active' if current_page?(tasks_path) %>>
        <%= link_to 'All Task', tasks_path, class:"nav-link " %>
    </li>
    <li role="presentation" class=<%= 'active' if current_page?(new_task_path) %>>
        <%= link_to 'Create Task', new_task_path, class:"nav-link" %>
    </li>
    <% if has_teams?() %>
        <li role="presentation" class=<%= 'active' if current_page?(team_path(current_team)) %>>
            <%= link_to 'Team Detail', team_path(current_team), class:"nav-link" %>
        </li>
    <% end %>
    <% if !my_task?() %>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Switch Task <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to "My Tasks", {controller: "tasks", action: "change", change:1},method: :get %>
                </li>
                <li>
                    <%= link_to "#{current_team.name} Tasks", {controller: "tasks", action: "change", change:0},method: :get %>
                </li>
            </ul>
        </li>
    <% end %>
</ul>
