<%= render 'shared/tab' %>
<div class="team-detail">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 woocommerce">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-header navbar-brand"><%= @team.name %></div>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><%= link_to 'Show Member',@team %></li>
                            <li><%= link_to 'Add User',search_team_path(@team) %></li>
                            <li><%= link_to "Delete Team", team_path(@team), method: :delete, data: {confirm: "チームを削除するとタスクまで削除されます。よろしいですか。"} %></li>    
                        </ul>
                    </div>
                </div>
            </nav>
            <table class="table">
                <tbody>
                    <% @members.each do |member| %>
                        <tr>
                            <th scope="row"><%= member.name %></th> 
                            <td>
                                <%= form_with(model: member.user_teams.find_by(team_id:@team.id),html: { method: :delete }, local: true) do |f| %>
                                    <%= f.submit "Remove", class: "btn btn-default",data: { confirm: "#{member.name}を退会させますか?" } %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
