<%= render 'shared/tab' %>

<%= form_with(model: @task, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :deadline %>
  <%= f.datetime_field :deadline, class: 'form-control' %>

  <%= f.label :urgency_importance %>
  <%= f.select :urgency_importance, ["A","B","C","D"], class: 'form-control' %>

  <%= f.label :status %>
  <%= f.select :status, ["未着手","対応中","完了"], class: 'form-control' %>

  <% if !my_task?() %>
    <%= f.label :from %>
    <%= f.collection_select :from, current_group.members, :id, :name, {include_blank: true}, class: 'form-control' %>
  

    <%= f.label :to %>
    <%= f.collection_select :to, current_group.members, :id, :name,{include_blank: true}, class: 'form-control' %>
  <% end %>
  
  <%= f.label :notes %>
  <%= f.text_area :notes, class: 'form-control' %>

  <%= f.hidden_field :group_id, value:current_group.id %>

  <% if has_teams?() %>
    <%= f.label :team_id %>
    <%= f.collection_select :team_id, my_teams, :id, :name,{selected:current_team.id}, {class: 'form-control'} %>
  <% end %>

  <div>
    <%= @task.created_at %>
    <%= @task.updated_at %>
    <span>Created by <%= @task.user.name %></span>
  </div>

  <%= f.submit "変更を保存する", class: "btn btn-primary" %>
<% end %>
<% if current_user?(@task.user) %>
  <%= link_to "タスクを削除", @task, method: :delete, data: { confirm: "削除しますか?" } %>
<% end %>
<button onclick="history.back()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
