<% provide(:title, 'All tasks') %>
<%= render 'shared/tab' %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Deadline</th>
      <th scope="col">緊急度・重要度</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr class=<%= progress task %>>
        <th scope="row"><%= link_to task.title, edit_task_path(task) %></th>
        <td><%= link_to task.deadline, edit_task_path(task) %></td>
        <td><%= link_to task.urgency_importance, edit_task_path(task) %></td>
        <td><%= link_to task.status, edit_task_path(task) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="origin-pagenate">
  <%= will_paginate @tasks,previous_label: '&laquo;', next_label: '&raquo;',inner_window: 1, outer_window: 0 %> 
</div>
