<% provide(:title, 'All tasks') %>
<%= render 'shared/tab' %>

<div class="task-index">
  <table class="table table-bordered">
    <thead class="table-child">
      <tr>
        <th scope="col">Task</th>
        <% if cookies.permanent.signed[:change] == "0" && !my_task?() %>
          <th scope="col">From</th>
          <th scope="col">To</th>
        <% end %>
        <th scope="col" class="iu">Importance・Urgency</th>
        <th scope="col" class="st">Status</th>
        <th scope="col" class="dl">Deadline</th>
      </tr>
    </thead>
    <tbody class="table-child">
      <% @tasks.each do |task| %>
        <tr class=<%= progress task %>>
          <td scope="row"><%= link_to task.title, edit_task_path(task) %></td>
          <% if cookies.permanent.signed[:change] == "0" && !my_task?() %>
            <td class="u-name"><%= link_to from(task), edit_task_path(task) %></td>
            <td class="u-name"><%= link_to to(task), edit_task_path(task) %></td>
          <% end %>
          <td class="iu"><%= link_to task.urgency_importance, edit_task_path(task) %></td>
          <td class="st"><%= link_to task.status, edit_task_path(task) %></td>
          <td class="dl"><%= link_to l(task.deadline), edit_task_path(task) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="origin-pagenate">
    <%= will_paginate @tasks,previous_label: '&laquo;', next_label: '&raquo;',inner_window: 1, outer_window: 0 %> 
  </div>
</div>
