
<section class="user_info">
    <% unless %w[tasks root new_task confirm].any? {|name| current_page?(send("#{name}_path"))} %>
        <p><%= link_to 'Task管理画面に戻る', root_path %></p>
    <% end %>
    <li><%= link_to current_user.name, current_user %></li>
    <% if %w[tasks root new_task new_team].any? {|name| current_page?(send("#{name}_path"))} %>
        <% if current_user.user_groups.find_by(group_id:current_group.id).admin %>
            <li><%= link_to current_group.name,  current_group %></li>
        <% else %>
            <li><%= current_group.name %></li>
        <% end %>
    <% end %>
    <% if !my_task?() %>
        <li>Teams</li>
        <span><%= link_to "チームを作成", new_team_path %></span>
        <% my_teams.each do |team| %>
            <%= form_with(url:change_team_path(team), local: true) do |f| %>
                <div><%= hidden_field_tag :team_id, team.id %></div>
                <% if current_team.name == team.name %>
                    <%= f.submit team.name, class:'btn-danger'%>
                <% else %>
                    <%= f.submit team.name %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</section>
