<% provide(:title, "Goals") %>
<div class="goals">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 woocommerce">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-header navbar-brand"><%= stored_team.name if !my_task?()%></div>
                </div>

                

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <% if year_len() > 1 %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle navbar-header navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= session[:year] %><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <% get_team_month().each do |year| %>
                                        <li><%= link_to year, {controller: "monthly_goals", action: "change", team_id:stored_team.id, year:year},method: :post %></li>
                                    <% end %>
                                </ul>
                            </li>
                        <% else %>
                            <div class="navbar-header navbar-brand"><%= session[:year] %></div>
                        <% end %>
                    </ul>
                </div>
                </div>
            </nav>
        
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Month</th>
                    <th scope="col">Monthly Goals</th>
                    <th scope="col">Weekly Goals</th>
                    </tr>
                </thead>
                <tbody>
                    <% get_months(session[:year]).each do |month| %>
                    <tr>
                        <td class="month"><%= month.month %></td>
                        <td>
                            <%= form_with(url:store_monthly_goals_path, local: true) do |f| %>
                                <div><%= hidden_field_tag :date, month %></div>
                                <%= f.submit (monthly_create_or_edit?(month) ? "Goals List" : "Create Goal"),class:"btn btn-default" %>
                            <% end %>
                        </td>
                        <td>
                        <%= form_with(url:store_weekly_goals_path, local: true) do |f| %>
                            <div><%= hidden_field_tag :date, month %></div>
                            <%= f.submit (weekly_create_or_edit?(month) ? "Goals List" : "Create Goal"),class:"btn btn-default" %>
                        <% end %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>